/*Guerra Vallejos Mario Patricio
  Deber # 2 Juegos con LCD
  01/19/2017 
*/


#include<LiquidCrystal.h>
LiquidCrystal lcd (9, 8, 7, 6, 5, 4);
String dato; //Vector para la palabra ingresada
int tamanio; //Variable donde se guarda el tamaño del vector "dato"
int on = 1;

void setup() {
  Serial.begin(9600);
  lcd.begin(16, 2);
 }

void loop() {
  if (on == 1) {
    if (Serial.available() > 0) {
      lcd.clear();
      grabar();
      empezar();
      Serial.println("");
    }
  }
  else {
    lcd.clear();
    lcd.print("SISTEMA OFF");
    Serial.println("SISTEMA OFF");
    Serial.end();//Finaliza el programa
  }
}

//Metodo para grabar la palabra ingresada
void grabar() {
  Serial.println("Ingrese la palabra a visualizarce en el LCD");
  tiempoespera();
  dato = Serial.readString();
  tamanio = dato.length();
  Serial.println("");
}

//Metodo para ingresar el juego que queremos vizualizar
void empezar() {
  char respuesta;//Variable con la que compararemos la opción ingresada
  Serial.println("Elija un juego (A,B;C):");
  tiempoespera();
  respuesta = Serial.read();
  if ((respuesta == 'A') || (respuesta == 'a')) {
    juego1();
  }
  else {
    if ((respuesta == 'B') || (respuesta == 'b')) {
      juego2();
    }
    else {
      if ((respuesta == 'C') || (respuesta == 'c')) {
        juego3();
      }
      else {
        Serial.println(" ");
        grabar();
      }
    }
  }
}

//Juego 1
void juego1() {
  int i = 0;
  int j = 0;
  char mensaje[tamanio];
  dato.toCharArray(mensaje, tamanio + 1);
  do {
    j = 1 - j;
    lcd.setCursor(i, j);
    lcd.print(mensaje[i]);
    delay(200);
    lcd.setCursor(i, j);
    lcd.print('*');
  }while( i < tamanio);
  i++;
  do {
    j = 1 - j;
    lcd.setCursor(i, j);
    lcd.print(mensaje[i]);
    delay(200);
    lcd.setCursor(i, j);
    lcd.print(" ");
  }while(i >= 0);
  i--; 
  lcd.clear();//Limpia la pantalla del LCD
}


//Juego 2
void juego2() {
  int t;
  int l = 1;
  do  {
    
    lcd.setCursor(0, 1);
    lcd.print("                 ");
    lcd.setCursor(0, 0);
    lcd.print(dato);
    t = 200 - (l * 5);
    delay(t);//Tiempo de espera
    lcd.setCursor(0, 0);
    lcd.print("                 ");
    lcd.setCursor(0, 1);
    lcd.print(dato);
    t = 200 - (l * 5);
    delay(t);//Tiempo de espera
  } while ( l < 30);
l++;
  lcd.clear();//Limpiamos la pantalla del LCD
}
//Juego 3

void juego3() {
  lcd.setCursor(16, 0);
  lcd.print(dato);
  int k = 0;
  do {
    lcd.setCursor(16, 0); // ponemos el cursor fuera del reango del display
    lcd.autoscroll();    // Activa el scroll automatico
    lcd.print(" ");      // imprime un character en blanco
    delay(100);
  }while ( k < (17 + tamanio) );
  k++;
  lcd.noAutoscroll();//Desactiva el scroll automatico
  lcd.clear();//Limpia la pantalla del LCD
}
//Tiempo de espera, se ejecuta mientras el usuario no ingrese ningún dato
void tiempoespera() {
  do{
  }while(Serial.available() == 0 ) ;
}

